<ion-header>
  <ion-toolbar>
    <ion-title>
      Non Prod
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="dark">Manage your builds </ion-list-header>
<ion-button (click)="InitiateBuild()">Initiate Build</ion-button>

<ion-button (click)="getBuildDetails()">Get Build Details</ion-button>

<ion-list *ngFor="let build of buildResponse.value">
  
  <ion-item  > 
    {{build.definition.name}}   {{build.buildNumber}}  {{build.result}}

  </ion-item>
</ion-list>
</ion-content>
