<ion-header>
  <ion-toolbar>
    <ion-title>
      WM Sprinter - Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Automated WM SDLC APP</ion-card-subtitle>
        <ion-card-title>Welcome to SDLC Sprinters !</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Developers can now manage their Application SDLC with their own App</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Training Resources</ion-label>
      </ion-list-header>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/yJxS_pjrvtw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <ion-item href="https://dev.azure.com/GIRISHSHARMA0640/DevOpsSM">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Launch Your Cloud project</ion-label>
      </ion-item>
      <ion-item href="https://docs.microsoft.com/en-us/dotnet/architecture/modern-web-apps-azure/development-process-for-azure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>SLDC Process Workflow</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
